<h1>Sign In</h1>

<%= form_tag sessions_url, :class => "form-horizontal" do %>

  <div>
    <%= label_tag :email, "Email:" %>
    <%= email_field_tag :email %>
  </div>

  <div>
    <%= label_tag :password, "Password:" %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= submit_tag "Sign In" %>
  </div>

<% end %>
