<h1>Milestones</h1>

<p><%= link_to 'Add a New Milestone', new_milestone_url %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Project</th>
      <th>Milestone</th>
      <th>Due Date</th>
      <th>Tasks Completed</th>
      <th>Still To Go</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @milestones.each do |milestone| %>
    <tr>
      <td><%= link_to milestone.project.title, project_url(milestone.project_id) %></td>
      <td><%= link_to milestone.title, milestone_url(milestone) %></td>
      <td><%= milestone.due_date %></td>
      <td><%= milestone.tasks.complete.count %> of <%= milestone.tasks.count %></td>
      <td><%= milestone.tasks.incomplete.count %></td>
      <td><%= link_to 'Edit', edit_milestone_url(milestone) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

