<h1>Milestone: <%= @milestone.title %></h1>

<p>
  <b>Project:</b>
  <%= @milestone.project %>
</p>

<p>
  <b>Title:</b>
  <%= @milestone.title %>
</p>

<p>
  <b>Description:</b>
  <%= @milestone.description %>
</p>

<p>
  <b>Date created:</b>
  <%= @milestone.date_created %>
</p>

<p>
  <b>Due date:</b>
  <%= @milestone.due_date %>
</p>


