<div class="row">
  <div class="span12">
    <h1>Milestone: <%= @milestone.title %></h1>
  </div>

  <div class="span3">
    <p>
      <b>Project:</b>
      <%= link_to @milestone.project.title, project_url(@milestone.project_id) %>
    </p>

    <p>
      <b>Description:</b>
      <%= @milestone.description %>
    </p>

    <p>
      <b>Date created:</b>
      <%= @milestone.date_created %>
    </p>

    <p>
      <b>Due date:</b>
      <%= @milestone.due_date %>
    </p>

    <p>
      <%= link_to "Edit", edit_milestone_url(@milestone.id) %> | <%= link_to 'Destroy', milestone_url(@milestone.id), method: 'delete', data: { confirm: "Do you really want to delete this milestone?" } %>
    </p>
  </div>
  <div class="span8">
    <p><b>Tasks:</b></p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>Due date</th>
          <th>User</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @milestone.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.description, task_url(task.id) %></td>
          <td><%= task.due_date %></td>
          <td><%= link_to task.user.name, user_url(task.user.id) %></td>
          <td><%= task.status %></td>

          <td><%= link_to 'Edit', edit_task_url(task) %></td>
          <td><%= link_to 'Destroy', task_url(task), method: 'delete', data: { confirm: "Do you really want to delete this task?" } %></td>

        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
