<h1>New Assignment</h1>


<%= form_tag(assignments_url, method: 'post') do %>


  <div>
    <%= label_tag :user_id %><br />
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name) %>
  </div>

    <div>
    <%= label_tag :project_id %><br />
    <%= select_tag :project_id, options_from_collection_for_select(Project.all, :id, :title) %>
  </div>


  <div>
    <%= submit_tag "Create Assignment" %>
  </div>
<% end %>
