<h1>Edit Task</h1>

<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |msg| %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<div class="span6 well">
  <%= form_for @task do |f| %>

    <div>
      <%= f.label :project_id, "Project:" %>
      <%= f.select :project_id, options_from_collection_for_select(Project.order('title').all, :id, :title) %>
    </div>

    <div>
      <%= f.label :milestone_id, "Milestone:" %>
      <%= f.select :milestone_id, options_from_collection_for_select(Milestone.order('title').all, :id, :title) %>
    </div>

    <div>
      <%= f.label :description, "Description:" %>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.label :date_created, "Date Created:" %>
      <%= f.date_select :date_created, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
    </div>

    <div>
      <%= f.label :due_date, "Due Date:" %>
      <%= f.date_select :due_date, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
    </div>

    <div>
      <%= f.label :date_completed, "Last Updated:" %>
      <%= f.date_select :date_completed, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
    </div>

      <div>
      <%= f.label :user_id, "Team Member:" %>
      <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %>
    </div>

    <div>
      <%= f.label :status %>
      <%= f.text_field :status %>
    </div>

    <div>
      <%= f.label :complete, "Complete? *" %>
      <%= f.select :complete, "<option>incomplete</option><option>complete</option>".html_safe %>
    </div>

    <div>
      <%= f.submit %>
    </div>

  <% end %>
</div>
