<h1>Tasks</h1>

<p><%= link_to 'Add a New Task', new_task_url %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Milestone</th>
      <th>Description</th>
      <th>Due date</th>
      <th>User</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.milestone.title, milestone_url(task.milestone.id) %></td>
      <td><%= link_to task.description, task_url(task.id) %></td>
      <td><%= task.due_date %></td>
      <td><%= link_to task.user.name, user_url(task.user.id) %></td>
      <td><%= task.status %></td>

      <td><%= link_to 'Edit', edit_task_url(task) %></td>
      <td><%= link_to 'Destroy', task_url(task), method: 'delete', data: { confirm: "Do you really want to delete this task?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

