<h1>New Task</h1>

<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |msg| %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_tag(tasks_url, method: 'post') do %>

  <div>
    <%= label_tag :project_id, "Project: *" %>
    <%= select_tag :project_id, options_from_collection_for_select(Project.order('title').all, :id, :title, @task.project_id) %>
  </div>

  <div>
    <%= label_tag :milestone_id, "Milestone: *" %>
    <%= select_tag :milestone_id, options_from_collection_for_select(Milestone.order('title').all, :id, :title, @task.milestone_id), :include_blank => true %>
  </div>

    <div>
    <%= label_tag :description, "Description:" %>
    <%= text_field_tag :description, @task.description %>
  </div>

  <div>
    <%= label_tag :date_created, "Date Created: *" %>
    <%= date_select :date_created, :date_created, :default => Date.today, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
  </div>

  <div>
    <%= label_tag :due_date, "Due Date: *" %>
    <%= date_select :due_date, :due_date, :default => Date.today+1, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
  </div>

  <div id="divdateselect" style="display: none;">
    <%= label_tag :date_completed %>
    <%= date_select :date_completed, :date_completed, :default => Date.today, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
  </div>

    <div>
    <%= label_tag :user_id, "Team Member: *" %>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name, @task.user_id) %>
  </div>

  <div>
    <%= label_tag :status %>
    <%= text_field_tag :status, @task.status %>
  </div>

  <%= hidden_field_tag :complete, "incomplete" %>


  <div>
    <%= submit_tag "Create Task" %>
  </div>
<% end %>
