<h1>Task #<%= @task.id %></h1>

<p>
  <b>Milestone:</b>
  <%= @task.milestone_id %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Date created:</b>
  <%= @task.date_created %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>

<p>
  <b>User:</b>
  <%= @task.user_id %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>


