<h1>Task</h1>

<p>
  <b>Project:</b>
  <%= link_to @task.project.title, project_url(@task.project_id) %>
</p>

<p>
  <b>Milestone:</b>
  <%= link_to @task.milestone.title, milestone_url(@task.milestone_id) %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Date created:</b>
  <%= @task.date_created %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>

<p>
  <b>User:</b>
  <%= @task.user.name %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p><%= link_to 'Edit', edit_task_url(@task.id) %> | <%= link_to 'Delete', task_url(@task.id), method: 'delete', data: { confirm: "Do you really want to delete this task?" } %></p>


