<h1>People</h1>

<%= notice %>

<p><%= link_to 'Add a New User', new_user_url %></p>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Projects</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_url(user) %></td>
      <td><% user.projects.each do |project| %>
        <p><%= link_to project.title, project_url(project.id)  %><p>
          <% end %></td>
      <td><%= link_to 'Edit', edit_user_url(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

