<title>Dashboard</title>
  <div class="row-fluid">
    <div class="span12">
      <h1><%= @user.name %></h1>
      <div class="row-fluid">
        <div class = "well span4">
          <p>
            <b>Email:</b>
            <%= @user.email %>
          </p>

          <p>
            <b>Home:</b>
            <%= @user.home %>
          </p>

          <p>
            <b>Birthday:</b>
            <%= @user.birthday %>
          </p>

          <p>
            <b>Bio:</b>
            <%= @user.bio %>
          </p>

          <p>
            <%= link_to 'Edit', edit_user_url(@user.id), :class => "btn btn-mini" %> <%= link_to 'Delete User', user_url(@user.id), :class => "btn btn-mini", method: 'delete', data: { confirm: "Do you really want to delete this user?" } %>
          </p>
        </div>

        <div class= "span8">
          <div class="well">
            <h3><b>Task Timeline</b></h3>
            <% @user.tasks.incomplete.order('due_date').due_dates.each do |due_date| %>
              <h4><%= due_date %></h4>
              <table class="table table-hover">
              <% @user.tasks.incomplete.where("due_date" => due_date).each do |task| %>
                <tbody>
                <% if task.due_date <= Date.today %>
                  <tr class="error">
                <% else %>
                  <tr>
                <% end %>
                <td>
                  <ul>
                    <li>
                      <b><%= best_in_place task, :description %></b> for <%= link_to task.milestone.title, milestone_url(task.milestone.id) %> in <%= link_to task.project.title, project_url(task.project.id) %> ("<%= best_in_place task, :status %>")
                    </li>
                  </ul>
                </td>
                <td><%= best_in_place task, :due_date, :type => :date, :display_as => :formatted_date %> | <%= best_in_place task, :complete, :type => :select, :collection => [["incomplete", "Nope"], ["complete", "Yep!"]] %></td>
                </tr>
                </tbody>
              <% end %>
              </table>
            <% end %>
          </div>
          <div class="well">
            <h4><b>My Projects:</b></h4>
            <table class = "table table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Team</th>
                  <th>Due date</th>
                  <th>Status</th>
                  <th>Last Update</th>
                </tr>
              </thead>
              <tbody>
              <% @user.projects.order('due_date DESC').all.each do |project| %>
                <tr>
                  <td><%= link_to project.title, project_url(project) %></td>
                  <td><% project.users.each do |user| %>
                  <p><%= link_to user.name, user_url(user) %><p>
                  <% end %></td>
                  <td><%= project.due_date %></td>
                  <% if project.recent_status.present? %>
                    <td><%= project.recent_status.description %></td>
                    <td><%= project.recent_status.date %></td>
                  <% else %>
                    <td></td>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

          <div class="well">
            <h3><b>Completed Tasks:</b></h3>
            <table class="table table-hover">
              <tbody>
              <% @user.tasks.complete.order('due_date').all.each do |task| %>
                <tr>
                  <td>
                    <ul>
                      <li>
                        <b><%= task.description %></b> for <%= task.milestone.title %> in <%= task.project.title %>
                      </li>
                    <ul>
                  </td>
                  <td><%= task.date_completed %></td>
                  <td><%= link_to 'Delete', task_url(task), :class => "btn btn-mini", method: 'delete', data: { confirm: "Do you really want to delete this task?" } %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





