<%= form_for(@project_discussion) do |f| %>
  <% if @project_discussion.errors.any? %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <% @project_discussion.errors.full_messages.each do |msg| %>
      <%= msg %>
      <% end %>
    </div>
  <% end %>

<div class="well span6">

  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <div>
    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.order('title').all, :id, :title %>
  </div>

  <div>
    <%= f.label :post %>
    <%= f.text_area :post %>
  </div>
  <div>

    <%= f.submit %>
  </div>
<% end %>

</div>
