<div class="row-fluid">
  <div class="span 12">
    <%= link_to '+', new_project_discussion_url, :class => "pull-right btn btn-success" %>
    <h1>Project Discussions</h1>
    <% ProjectDiscussion.order('created_at DESC').all.each do |dis| %>
      <div class="well">
        <h4>About <%= link_to dis.project.title, project_url(dis.project_id) %></h4>
        <p><%= dis.post %></p>
        <p class="text-right"><em><%= dis.user.name %> on <%= dis.created_at.strftime("%b %-d at %l:%M%p") %></em></p>
        <p class="text-right"><%= link_to "#{dis.project_comments.count} comments", project_discussion_url(dis.id) %></p>
      </div>
    <% end %>
  </div>
</div>
