<h1>Discussion</h1>

<h4><%= link_to @project_discussion.user.name, user_url(@project_discussion.user.id) %> has something to say about <%= link_to @project_discussion.project.title, project_url(@project_discussion.project.id) %>. </h4>

<div class="well">
  <p>
    <%= @project_discussion.user.name %> says,
  </p>
  <p>
    <%= @project_discussion.post %>
  </p>
  <p class="text-right">
    <%= @project_discussion.created_at.strftime("%b %-d at %l:%M%p") %>
  </p>
</div>


<%= link_to 'Edit', edit_project_discussion_path(@project_discussion), :class => "btn btn-mini" %>
<%= link_to 'Back to Project', project_url(@project_discussion.project.id), :class => "btn btn-mini" %>
