<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |msg| %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<div class="span6 well">

<%= form_for @project do |f| %>


  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :date_created %>
    <%= f.date_select :date_created, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
  </div>

  <div>
    <%= f.label :due_date %>
    <%= f.date_select :due_date, :default => Date.today+1, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
  </div>


  <div>
    <%= f.submit %>
  </div>
<% end %>

</div>
