<h1>Project: <%= @project.title %></h1>

<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |msg| %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_tag(project_url(@project), method: 'put') do %>

  <div>
    <%= label_tag :title %>
    <%= text_field_tag :title, @project.title %>
  </div>

  <div>
    <%= label_tag :description %>
    <%= text_area_tag :description, @project.description %>
  </div>

  <div>
    <%= label_tag :date_created %>
     <%= date_select :date_created, :date_created, :default => @project.date_created, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
  </div>

  <div>
    <%= label_tag :due_date %>
    <%= date_select :due_date, :due_date, :default => @project.due_date, :order => [:day, :month, :year ], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
  </div>

  <div>
    <%= submit_tag "Update Project" %>
  </div>

<% end %>
