<h1>New Project</h1>


<%= form_tag(projects_url, method: 'post') do %>


  <div>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= label_tag :description %>
    <%= text_area_tag :description %>
  </div>

  <div>
    <%= label_tag :date_created %>
    <%= date_select :date_created, :due_date, :default => Date.today, :order => [:day, :month, :year] %>
  </div>

  <div>
    <%= label_tag :due_date %>
    <%= date_select :due_date, :due_date, :default => Date.today+1, :order => [:day, :month, :year] %>
  </div>


  <div>
    <%= submit_tag "Create Project" %>
  </div>
<% end %>
