<h1>New Project</h1>


<%= form_tag(projects_url, method: 'post') do %>


  <div>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= label_tag :description %>
    <%= text_area_tag :description %>
  </div>

  <div>
    <%= label_tag :date_created %>
    <%= text_field_tag :date_created, nil, :id => "datepicker" %>
  </div>

  <div>
    <%= label_tag :due_date %>
    <%= text_field_tag :due_date, nil, :id => "datepicker" %>
  </div>


  <div>
    <%= submit_tag "Create Project" %>
  </div>
<% end %>
