<h1>New Project</h1>

<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |msg| %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_tag(projects_url, method: 'post') do %>


  <div>
    <%= label_tag :title %>
    <%= text_field_tag :title, @project.title %>
  </div>

  <div>
    <%= label_tag :description %>
    <%= text_area_tag :description, @project.description %>
  </div>

  <div>
    <%= label_tag :date_created %>
    <%= date_select :date_created, :date_created, :default => Date.today, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
  </div>

  <div>
    <%= label_tag :due_date %>
    <%= date_select :due_date, :due_date, :default => Date.today+1, :order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year+2 %>
  </div>


  <div>
    <%= submit_tag "Create Project" %>
  </div>
<% end %>
