<h1>Project #<%= @project.id %></h1>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Date created:</b>
  <%= @project.date_created %>
</p>

<p>
  <b>Date completed:</b>
  <%= @project.date_completed %>
</p>

<p>
  <b>Due date:</b>
  <%= @project.due_date %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>


