<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @project_comment.user_id %>
</p>

<p>
  <b>Project:</b>
  <%= @project_comment.project_id %>
</p>

<p>
  <b>Post:</b>
  <%= @project_comment.post %>
</p>


<%= link_to 'Edit', edit_project_comment_path(@project_comment) %> |
<%= link_to 'Back', project_comments_path %>
