<!DOCTYPE html>
<html>
<head>
  <title>ZenGarden</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if session[:user_id].present? %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "ZenGarden", users_url, :class => :brand %>
          <ul class = "nav">
            <% if session[:user_id].present? %>
              <li class="<%= active_if(:controller => "users", :action => "show") %>"><%= link_to "Dashboard", user_url(session[:user_id]) %></li>
            <% end %>
            <li class="<%= active_if(:controller => "users", :action => "index") %>"><%= link_to "People", users_url %></li>
            <li class="<%= active_if(:controller => "projects") %>"><%= link_to "Projects", projects_url %></li>
            <li class="<%= active_if(:controller => "milestones") %>"><%= link_to "Milestones", milestones_url %></li>
            <li class="<%= active_if(:controller => "tasks") %>"><%= link_to "Tasks", tasks_url %></li>
            <li class="<%= active_if(:controller => "project_discussions") %>"><%= link_to "Discussions", project_discussions_url %></li>
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to "Sign Out", session_url, method: 'delete' %></li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <% if notice.present? %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= notice %></strong>
    </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
