<!DOCTYPE html>
<html>
<head>
  <title>Bootcamp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class = "nav nav-pills">
      <li><%= link_to "My Camp", user_url(session[:user_id]) %></li>
      <li class="<%= active_if(:controller => "users") %>"><%= link_to "People", users_url %></li>
      <li class="<%= active_if(:controller => "projects") %>"><%= link_to "Projects", projects_url %></li>
      <li class="<%= active_if(:controller => "milestones") %>"><%= link_to "Milestones", milestones_url %></li>
      <li class="<%= active_if(:controller => "tasks") %>"><%= link_to "Tasks", tasks_url %></li>
      <% if session[:user_id].present? %>
        <li><%= link_to "Sign Out", session_url, method: 'delete' %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_url %></li>
        <li><%= link_to "Sign In", new_session_url %></li>
      <% end %>
    </ul

    <%= yield %>
  </div>
</body>
</html>
